# Python cache files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Environments
.venv/
Backend/.venv/
.env
Backend/.env

# SQLite databases
**/*.db
Backend/*.db

# OS files
**/.DS_Store

# Node/Frontend dependency folders
Frontend/node_modules/
dist/
build/
